body {
    background: #FF9800;
    letter-spacing: .5px;
}
header {
  background: #68B890;
  border-radius: 2rem;
  color: #FFEB3B;
  margin: 1rem;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
#how:hover, #new:hover {
  opacity:0.7;

}
/* -------------
Modal Box Styles
-------------- */
.overlay {
  width: 100%;
  height: 100%;
  color: mintcream;
  background: #FF9800;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
} 
.instruction-box {
 padding-top: 5rem;
}
.instruction-box h3 {
    padding: 0.4em;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;

}
.instruction-box .instructions {
  font-weight: 300;
  font-size: 1.15em;
  border: 3px solid rgba(0,0,0,0.1);
}
.instruction-box .instructions p {
  margin: 0;
  padding: 10px 0;
  line-height: 2em;
  text-align: justify;
}
.instructions strong {
text-decoration: underline;
}
.instructions span {
  background-color: #FFC107;
  opacity: .6;
  color: green;
  border-radius: 9%;
  padding: 1rem;
  float: right;
}
/* -------------
Initial Page
-------------- */
.green-bg {
    margin: auto;
    width: 95%;
    height: 98%;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-1, .title-2   {
  text-align: center;
  font-size: 3rem;
  font-family: 'Chewy', cursive;
  color: #00405d;
}

#start-logo {

}

#start-logo > #logo {
  height: 35rem;
}

/* -------------
Game Section
-------------- */
.game-style, .button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid;
  font-family: lato;
  margin: 0 auto;
}
.game-style > #question {
  padding: 1rem;
  font-weight: bold;
  text-align: center;

}
.game-style   > #choices {
margin: 0 auto;
}
#list-choices {
  list-style-type: none;
}
#list-choices > div, .answer {
  font-size: 3rem;
  justify-content: space-around;
  padding: 2rem;
  text-align: center;
}
#button-wrapper > button {
text-align: center;
width: 33rem;
border: none;
font-size: 2rem;
background: #68B890;
}
#button-wrapper >   button:hover {
  color: #FFEB3B;
  transition: all 0.5s ease-in-out;
}

.answer-checkbox, .answer-radio {
width: 2rem;
height: 2rem;
}

.answer {
  cursor: pointer;
}

#progress {
  width: 90%;
    margin: 0 auto;
    height: 5rem;
}
/* -------------
Screen Sizes Custom styles
-------------- */
@media (min-width: 1000px) {
  .container {
    width: 98%;
  }  
  .green-bg {
    width: 98%;
  }}

