html {
    background: #FF9800;
}
body {
    background: #68B890;
    border-radius: 2rem;
    color: #FFEB3B;
    margin: 1rem;
    text-decoration: none;
    letter-spacing: .5px;
}
header {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: 3px;
}
#how:hover, #new:hover {
  opacity:0.7;

}
/* -------------
Modal Box Styles
-------------- */
.overlay {
  width: 100%;
  height: 100%;
  color: mintcream;
  background: #FF9800;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1000;
} 
.instruction-box {
 padding-top: 5rem;
}
.instruction-box h3 {
    padding: 0.4em;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
    background: rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;

}
.instruction-box .instructions {
  font-weight: 300;
  font-size: 1.15em;
  border: 3px solid rgba(0,0,0,0.1);
}
.instruction-box .instructions p {
  margin: 0;
  padding: 10px 0;
  line-height: 2em;
  text-align: justify;
}
.instructions strong {
text-decoration: underline;
}
.instructions span {
  background-color: #FFC107;
  opacity: .6;
  color: green;
  border-radius: 9%;
  padding: 1rem;
  float: right;
}
/* -------------
Initial Page
-------------- */
<<<<<<< HEAD
.green-bg {
    background: #68B890;
    height: 82%;
    width: 94%;
    position: fixed;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 1px solid white;*/

}
#start-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 25rem;

=======
#logo-start {
     height: 48rem;
     padding: 10rem 0 17rem 0;
>>>>>>> f22c9aa7e3cdc74e7739b2aef72180abc9b99329
}

/* -------------
Screen Sizes Custom styles
-------------- */
@media (min-width: 1200px) {
  .container {
    width: 98%;
  }  


